body{
	background-color:#000000;
}
input{
	width:32px;
}
table{
	padding:0px;
}
button{
	width:120px;
	margin-bottom:1px;
}
td{
	width:0px;
}
.label{
	font-size:14px;
}
.text{	
	color:#FFFFFF;
	font-family:Georgia;
}
.gameTypeInput{
	font-size:12px;
}
.gameTypeRadioButton{
	width:16px;
	margin-left:0px;
}
#columns{
	margin:auto auto;
}
#mainContainer{
	margin-left:auto;
}
#title{
	text-align:center;
}
#pixelContainer{
	border:10px ridge #888888;
	border-radius:5px;
}
#firstColumn{
	text-align:center;
	width:120px;
}
#thirdColumn{
	text-align:left;
}